<div class="main">
  <h1>My To Do List</h1>

  <input #person placeholder="Add a Person" (keyup.enter)="addItem(person.value); person.value = '' "
    class="lg-text-input" id="addItemInput"/>
  <button class="btn-primary" (click)="addItem(person.value)">Add</button>

  <ul>
    <li *ngFor="let item of items">{{item.person}} <button (click)="removeItem(person.value)">delete</button></li>
  </ul>
  

  <a routerLink="/assign"> 
    <button>Assign Tasks</button>
  </a>
</div>

<router-outlet></router-outlet>


